.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TagLine {
  font-family: "Josefin Slab", serif;
  font-size: 1.4em;
}

.MainLogoText {
  font-family: "Monoton", cursive;
  font-weight: normal;
  color: cornsilk;
  text-shadow: 2px 2px #ff0000b0;
}

.RestaurantList {/* 
font-family: 'Josefin Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Monoton', cursive; */
font-family: 'Lobster', cursive;
font-size: 1.2em;;

}

.restaurantItem {
border:solid;
}

.mapBox {
  background-color: cornflowerblue;
  width: 100%;
  height: 1000px;
}

.modal {
  z-index: 100000;
  position: absolute;
  display:block;
}

.ModalItemTitle{
  font-family: 'Monoton', cursive;
  font-size: 1.8rem;
  font-weight: bolder;
}

.itemDivider {

  width:75%;
  border: 3px solid green;
  border-radius: 3px;
}

.Main {
  float: left;
  width: 70%;
  height: 90%;
  background-color: lightgreen;
}

.Aside {
  float: right;
  width: 30%;
  background-color: skyblue;
}

.AsideAddress {
  font-family: 'Josefin Slab', serif;
  }

/*
.AsideHeader {

}   
*/

.Footer {
  float: left;
  width: 100%;
  height: 10%;
  background-color: plum;
}

ul {
  list-style-type: none;
}
li {
  padding: 20px;
  display: inline;
}
